/* atividade 1 
#quadrados {
    display: grid;
    grid-template-rows: 15vw;
    grid-template-columns: 15vw 15vw 15vw;
    gap: 20px;
  }
  
  #primeira {
      background-color: purple;
  }
  
  #segunda {
      background-color: red;
  }
  
  #terceira {
      background-color: pink;
  }
   */


